- LIBRARIES: libraries is a set of functions/methods, attributes , data types
- EXAMPLES OF LIBRARIES:
> PANDAS -
> NUMPY  -
> MATPLOTLIB-
> SEABORN -
> SKLEARN-
> SKIPY-
> TENSOR FLOW-
> KERAS-
> PICKLE-

In [1]:
!pip install pandas  "#(prefered installer programmer)"

ERROR: Invalid requirement: '#(prefered installer programmer)'

In [2]:
import pandas

In [3]:
pandas.read_csv(filepath_or_buffer=r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\drinks (1).csv")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Chapter : 01 -Getting and knowing your data

In [4]:
import pandas as pd

In [5]:
order_details=pd.read_csv(filepath_or_buffer=r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\data.tsv (1).txt",sep="\t")
order_details

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 1.1 perforn initial analysis

In [6]:
order_details.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
order_details.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [8]:
order_details.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [9]:
order_details.shape

(4622, 5)

#### TERMINOLOGY ALERT

* ROWS - OBSERVATIONS/RECORDS/DATA POINTS
* COLUMNS - FEATURES / PARAMETERS.

In [10]:
order_details.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [11]:
order_details.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [12]:
order_details.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [13]:
order_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

#### 1.2 Which item has been ordered most? Give me the top 5

In [14]:
order_details.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [15]:
order_details.groupby(by='item_name')['quantity'].sum().sort_values(ascending=False).head()

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [16]:
order_details.groupby(by='item_name')['quantity'].sum().sort_values(ascending=False).tail(10)

item_name
Burrito                              6
Veggie Salad                         6
Carnitas Salad Bowl                  6
Bowl                                 4
Steak Salad                          4
Salad                                2
Crispy Tacos                         2
Chips and Mild Fresh Tomato Salsa    1
Carnitas Salad                       1
Veggie Crispy Tacos                  1
Name: quantity, dtype: int64

### CHAPTER 02:FILTERING AND SORTING

In [17]:
euro_stats=pd.read_csv(r'C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\Euro_2012_stats_TEAM (1).csv')

In [18]:
pd.set_option('max_columns',None)# NO RESTRICTION IN DISPLAYING THE COLUMNS

In [19]:
euro_stats

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18

In [20]:
euro_stats.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [21]:
#FILTERING 4 COLUMNS OUT OF 35 COLUMNS
filtered_data=euro_stats[['Team', 'Shooting Accuracy',  'Yellow Cards', 'Red Cards']]
filtered_data

                   Team Shooting Accuracy  Yellow Cards  Red Cards
0               Croatia             51.9%             9          0
1        Czech Republic             41.9%             7          0
2               Denmark             50.0%             4          0
3               England             50.0%             5          0
4                France             37.9%             6          0
5               Germany             47.8%             4          0
6                Greece             30.7%             9          1
7                 Italy             43.0%            16          0
8           Netherlands             25.0%             5          0
9                Poland             39.4%             7          1
10             Portugal             34.3%            12          0
11  Republic of Ireland             36.8%             6          1
12               Russia             22.5%             6          0
13                Spain             55.9%            11          0
14               Sweden             47.2%             7          0
15              Ukraine             21.2%             5          0

In [34]:
filtered_data.sort_values(by='Yellow Cards',ascending=True)

                   Team Shooting Accuracy  Yellow Cards  Red Cards
2               Denmark             50.0%             4          0
5               Germany             47.8%             4          0
3               England             50.0%             5          0
8           Netherlands             25.0%             5          0
15              Ukraine             21.2%             5          0
4                France             37.9%             6          0
11  Republic of Ireland             36.8%             6          1
12               Russia             22.5%             6          0
1        Czech Republic             41.9%             7          0
9                Poland             39.4%             7          1
14               Sweden             47.2%             7          0
0               Croatia             51.9%             9          0
6                Greece             30.7%             9          1
13                Spain             55.9%            11          0
10             Portugal             34.3%            12          0
7                 Italy             43.0%            16          0

In [22]:
filtered_data[filtered_data['Team']=='Croatia']

      Team Shooting Accuracy  Yellow Cards  Red Cards
0  Croatia             51.9%             9          0

In [23]:
filtered_data[filtered_data['Red Cards']==1]

                   Team Shooting Accuracy  Yellow Cards  Red Cards
6                Greece             30.7%             9          1
9                Poland             39.4%             7          1
11  Republic of Ireland             36.8%             6          1

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
filtered_data.sort_values(by='Yellow Cards',ascending=False,inplace=True) # impacts the original data

In [26]:
filtered_data

                   Team Shooting Accuracy  Yellow Cards  Red Cards
7                 Italy             43.0%            16          0
10             Portugal             34.3%            12          0
13                Spain             55.9%            11          0
0               Croatia             51.9%             9          0
6                Greece             30.7%             9          1
1        Czech Republic             41.9%             7          0
9                Poland             39.4%             7          1
14               Sweden             47.2%             7          0
4                France             37.9%             6          0
11  Republic of Ireland             36.8%             6          1
12               Russia             22.5%             6          0
3               England             50.0%             5          0
8           Netherlands             25.0%             5          0
15              Ukraine             21.2%             5          0
2               Denmark             50.0%             4          0
5               Germany             47.8%             4          0

In [27]:
filtered_data[filtered_data['Yellow Cards']>9]

        Team Shooting Accuracy  Yellow Cards  Red Cards
7      Italy             43.0%            16          0
10  Portugal             34.3%            12          0
13     Spain             55.9%            11          0

In [28]:
filtered_data[(filtered_data['Yellow Cards']>9) | (filtered_data['Red Cards']==1)]

                   Team Shooting Accuracy  Yellow Cards  Red Cards
7                 Italy             43.0%            16          0
10             Portugal             34.3%            12          0
13                Spain             55.9%            11          0
6                Greece             30.7%             9          1
9                Poland             39.4%             7          1
11  Republic of Ireland             36.8%             6          1

In [29]:
filtered_data[(filtered_data['Yellow Cards']>9) & (filtered_data['Red Cards']==1)]

Empty DataFrame
Columns: [Team, Shooting Accuracy, Yellow Cards, Red Cards]
Index: []

### CHAPTER 04 - DELETE

In [30]:
euro_2012=pd.read_csv(r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\Euro_2012_stats_TEAM (1).csv")
euro_2012

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18

In [31]:
euro_2012.set_index(keys='Team')

,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
Team,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18

In [32]:
del euro_2012['Shooting Accuracy'] # delete one colum at once

In [33]:
euro_2012

,Team,Goals,Shots on target,Shots off target,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18

In [55]:
euro_2012.drop(['Hit Woodwork','Penalty goals'],axis=1,inplace=True)

In [56]:
euro_2012

,Team,Goals,Shots on target,Shots off target,% Goals-to-shots,Total shots (inc. Blocked),Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,16.0%,32,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,12.9%,39,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,20.0%,27,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,17.2%,40,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,6.5%,65,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,15.6%,80,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,19.2%,32,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,7.5%,110,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,4.1%,60,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,5.2%,48,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,9.3%,82,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,5.2%,28,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,12.5%,59,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,16.0%,100,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,13.8%,39,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,6.0%,38,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18

In [57]:
euro_2012.Team

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

In [58]:
euro_2012['Team']

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

### CHAPTER 05 -  APPLY FUNCTION

In [60]:
student_details=pd.read_csv(r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\student-mat.csv")
student_details

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [62]:
student_details['Medu']=student_details['Medu']+2

In [64]:
student_details['Mjob'].upper()

AttributeError: 'Series' object has no attribute 'upper'

### CHAPTER-06  CREATING SERIES AND DATAFRAME
pandas has 2 data structure

1.1D -SERIES

2.2D - DATAFRAME

In [65]:
vinay_scores=[10,20,30,40,50,60]
vinay_scores

[10, 20, 30, 40, 50, 60]

In [66]:
type(vinay_scores)

list

In [67]:
data=pd.Series(data=[10, 20, 30, 40, 50, 60])
data

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [68]:
type(data)

pandas.core.series.Series

In [70]:
learner_details=pd.DataFrame(data={'fname':['Vinay','Gaurav'],
                                  'age':[24,26]})
learner_details

    fname  age
0   Vinay   24
1  Gaurav   26

In [71]:
type(learner_details)

pandas.core.frame.DataFrame

### CHAPTER 08 - GROUPING VS PIVOT TABLE VS CROSSTAB
- grouping the data according to the categories and apply a function to the categories. 
- Pivot table in pandas is an excellent tool to summarize one or more numeric variable based on two other categorical variables
- Cross tabulation is used to quantitatively analyze the relationship between multiple variables.

In [35]:
insurance_details=pd.read_csv(r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\insurance.csv")
insurance_details

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

## CLUE TO USE GROUPBY FUNCTION

DISCRETE VS CONTINUES DATA TYPES

**DISCRETE** - COUNTABLE BUT NOT MEASURABLE(NO UNITS) AND CANNOT BE SEGREGATTED


**CONTINUOUS** - MEASURABLE(UNITS), CAN BE SEGREGATTED

groupby(discrete data)[cont data]

#### 8.1 ON AN AVERAGE WHICH REGION IS GETTING MORE INSURANCE CHARGES

In [36]:
insurance_details.groupby(by='region')['charges'].mean().sort_values(ascending=False)

region
southeast    14735.411438
northeast    13406.384516
northwest    12417.575374
southwest    12346.937377
Name: charges, dtype: float64

In [37]:
insurance_details.groupby(by='region')['charges'].mean().sort_values(ascending=True)

region
southwest    12346.937377
northwest    12417.575374
northeast    13406.384516
southeast    14735.411438
Name: charges, dtype: float64

#### 8.2  ON AN AVERAGE WHICH REGION IS GETTING MAX INSURANCE CHARGES

In [38]:
insurance_details.groupby(by='region')['charges'].max().sort_values(ascending=False)

region
southeast    63770.42801
northwest    60021.39897
northeast    58571.07448
southwest    52590.82939
Name: charges, dtype: float64

In [39]:
####  ON AN AVERAGE WHICH GENDER IS GETTING MAX INSURANCE CHARGES
insurance_details.groupby(by='sex')['charges'].mean().sort_values(ascending=False).round()

sex
male      13957.0
female    12570.0
Name: charges, dtype: float64

#### 8.3 BASED ON REGION AND SMOKERS WHAT IS THE AVERAGE INSURANCE CHARGES?

In [40]:
insurance_details.groupby(by=['smoker','region'])['charges'].mean().sort_values(ascending=False).round()

smoker  region
yes     southeast    34845.0
        southwest    32269.0
        northwest    30192.0
        northeast    29674.0
no      northeast     9166.0
        northwest     8556.0
        southeast     8032.0
        southwest     8019.0
Name: charges, dtype: float64

In [41]:
insurance_details.groupby(by=['smoker','region','children'])['charges'].mean().sort_values(ascending=False).round()

smoker  region     children
yes     southeast  2           37619.0
        southwest  2           37569.0
        northwest  3           36160.0
        southeast  0           35515.0
        southwest  1           34550.0
        northeast  3           34004.0
        southeast  3           32551.0
                   1           32503.0
        northeast  1           32340.0
        northwest  2           31032.0
        southwest  0           30852.0
                   4           29062.0
        northwest  0           28333.0
        northeast  0           28167.0
        northwest  1           26470.0
        northeast  2           22696.0
        southwest  3           21617.0
        northwest  4           21472.0
        southwest  5           19023.0
no      northeast  4           14485.0
        southeast  4           14451.0
                   3           11987.0
        northeast  2           11669.0
        northwest  3           10548.0
        southeast  5           10115.0
        northwest  2            9951.0
        northeast  1            9898.0
        northwest  4            9322.0
        southwest  4            9282.0
        northwest  5            8966.0
        southwest  2            8947.0
                   3            8650.0
        northeast  0            8072.0
        southeast  1            8016.0
        northwest  1            7982.0
        southwest  0            7754.0
        northeast  3            7653.0
        southwest  1            7647.0
        northwest  0            7545.0
        southeast  2            7520.0
                   0            7060.0
        northeast  5            6979.0
        southwest  5            6933.0
Name: charges, dtype: float64

In [42]:
pd.pivot_table(data = insurance_details,values = 'charges',index='region',columns=['smoker','children'],aggfunc='mean').round()

smoker         no                                                  yes  \
children        0       1        2        3        4        5        0
region
northeast  8072.0  9898.0  11669.0   7653.0  14485.0   6979.0  28167.0
northwest  7545.0  7982.0   9951.0  10548.0   9322.0   8966.0  28333.0
southeast  7060.0  8016.0   7520.0  11987.0  14451.0  10115.0  35515.0
southwest  7754.0  7647.0   8947.0   8650.0   9282.0   6933.0  30852.0

smoker
children         1        2        3        4        5
region
northeast  32340.0  22696.0  34004.0      NaN      NaN
northwest  26470.0  31032.0  36160.0  21472.0      NaN
southeast  32503.0  37619.0  32551.0      NaN      NaN
southwest  34550.0  37569.0  21617.0  29062.0  19023.0

In [43]:
pd.pivot_table(data = insurance_details,values = 'charges',index='region',columns=['smoker'],aggfunc='mean').round().sort_values(by='yes',ascending=False)

smoker         no      yes
region
southeast  8032.0  34845.0
southwest  8019.0  32269.0
northwest  8556.0  30192.0
northeast  9166.0  29674.0

### 8.4 HOW MANY SMOKERS ARE MALE AND FEMALE

In [44]:
insurance_details

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [45]:
#to compare discrete columns  we use crosstab function

pd.crosstab(index=insurance_details['sex'],columns=insurance_details['smoker'],margins=True)

smoker    no  yes   All
sex
female   547  115   662
male     517  159   676
All     1064  274  1338

In [46]:
insurance_details.shape

(1338, 7)

#### QUICK EXERCISE

### Use u.user file and comeup with atleast 1 insight

In [47]:
user_details=pd.read_csv(r"C:\Users\PRIYANKA\Data_Science_14_april_jhon\data_Sets\u (1).user",sep='|')
user_details

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Q: BASED ON GENDER WHAT IS THE AVERAGE AGE OF THE PEOPLE

In [48]:
user_details.groupby(by='gender')['age'].mean().sort_values(ascending=False).round()

gender
M    34.0
F    34.0
Name: age, dtype: float64

### Q: BASED ON OCCUPATION WHAT IS THE AVERAGE AGE OF PEOPLE

In [49]:
user_details.groupby(by='occupation')['age'].mean().sort_values(ascending=False).round()

occupation
retired          63.0
doctor           44.0
educator         42.0
healthcare       42.0
librarian        40.0
administrator    39.0
executive        39.0
marketing        38.0
lawyer           37.0
engineer         36.0
writer           36.0
salesman         36.0
scientist        36.0
other            35.0
technician       33.0
programmer       33.0
homemaker        33.0
artist           31.0
entertainment    29.0
none             27.0
student          22.0
Name: age, dtype: float64

### Q: BASED ON GENDER  WHAT IS THE MAX NUMBER OF OCCUPATION

In [50]:
pd.crosstab(index=user_details['gender'],columns=user_details['occupation'],margins=True)

occupation,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,librarian,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer,All
gender,,,,,,,,,,,,,,,,,,,,,,
F,36,13,0,26,2,2,3,11,6,2,29,10,4,36,6,1,3,3,60,1,19,273
M,43,15,7,69,65,16,29,5,1,10,22,16,5,69,60,13,9,28,136,26,26,670
All,79,28,7,95,67,18,32,16,7,12,51,26,9,105,66,14,12,31,196,27,45,943

### Q:  BASED ON OCCUPATION WHAT IS THE AVERAGE AGE ?

In [51]:
user_details.groupby(by='occupation')['age'].mean().sort_values(ascending=False).round()

occupation
retired          63.0
doctor           44.0
educator         42.0
healthcare       42.0
librarian        40.0
administrator    39.0
executive        39.0
marketing        38.0
lawyer           37.0
engineer         36.0
writer           36.0
salesman         36.0
scientist        36.0
other            35.0
technician       33.0
programmer       33.0
homemaker        33.0
artist           31.0
entertainment    29.0
none             27.0
student          22.0
Name: age, dtype: float64

### Q: HOW MANY PEOPLE ARE WORKING IN EACH OCCUPATION

In [52]:
user_details['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

#### DAILY TASK 07: EXPLORE PANDAS AGGREGATE FUNCTIONS

In [74]:
user_details.mean()

user_id    472.000000
age         34.051962
dtype: float64

In [75]:
user_details.median()

user_id    472.0
age         31.0
dtype: float64